* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0;
}

.container {
  width:100%;
  padding: 0;
  margin: 0px auto;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width:  83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.card-student {
  background-color: white;
  margin-top: 2%;
}

.logo {
  float: none;
}

.view-profile {
  text-align: right;
}

.menu-nav:hover {
  border-bottom: solid 5px #f7b617;
}

.margin-top {
  margin-top: 1%;
}

.skills {
  background-color: #e1e1e1;
  font-size: 10px;
  margin-left: 3%;
  width: 30%;
}

.checkbox {
  display: inline-block;
  width: 1vw;
  height: 2vh;
  border: solid 0.5px #f7b617;
}

.checkbox, .menu-nav,
.skills, .dropdown {
  cursor: pointer;
}

.line {
  border-bottom: solid 2px #f7b617;
}

.graphic-card {
  background-color: white;
}

.pastel {
  border-radius: 100%;
}
