/*
 * Estilos de tu proyecto
 */
* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: #e1e1e1;
  height: 17vh;
}

nav, a {
   color: #2b2b2b;
}

h1 {
  padding-top: 2%;
}

ul {
  padding-top: 1.5%;
}

li {
  list-style: none;
}

nav li, section li {
  margin-right: 2%;
}

nav, main {
   padding-left: 5%;
}

aside {
  padding: 2%;
}

aside li {
  width: max-content;
}

aside, section {
  float: left;
}

main {
  background-color: #f7f7f7;
  height: 190vh;
  padding: 5%;
}

input {
  border: none;
  width: 65%;
  margin-left: 1%;
  height: 30px;
  float: right;
}

section {
  width: 100%;
}

aside, .card-student, .graphic-card-small,
.graphic-card-large, .item-list {
  background-color: white;
}

aside, nav li, section li, .checkbox, .inline-block {
  display: inline-block;
}

.menu ul ul {
  position: absolute;
}

.menu li span {
  margin-left: 10px;
}

.menu .item-list li {
  display: block;
}

.menu-nav:hover {
  border-bottom: solid 5px #f7b617;
}

.item-list li:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.container {
  width:100%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.logo {
  float: none;
}

.width-16 {
  width: 16.666%;
}

.width-33 {
  width: 33.333%;
}

.width-40 {
  width: 40%;
  margin-left: 2%;
}

.width-66 {
  width: 66.666%;
}

.checkbox, .menu-nav,
.skills, .dropdown {
  cursor: pointer;
}

.card-student, .container-cards,
.graphic-card-small, .graphic-card-large {
  float: left;
}

.card-student {
  margin-top: 2%;
  padding: 2%;
  width: 100%;
}

.container-cards {
  width: 65%;
  margin-left: 1.5%;
}

.view-profile {
  text-align: right;
}

.hide {
  display: none;
}

.show {
  display:block;
}

.item-list {
  width: 30%;
}

.graphic-card-small {
  width: 31%;
  margin: 1.1%;
}

.graphic-card-large {
  width: 98%;
  margin: 1%;
}

.graphic-circle {
  border-radius: 100%;
}

.skills {
  background-color: #e1e1e1;
  font-size: 10px;
  margin-left: 3%;
}

.checkbox {
  width: 1vw;
  height: 2vh;
  border: solid 0.5px #f7b617;
}

.line {
  margin-top: 5%;
  width: 60%;
  border-bottom: solid 2px #f7b617;
}
