<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Data-Dashboard</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/common.css">
  </head>
  <body>
    <header class="container">
      <div class="row center">
        <img class="col-2 logo" src="../assets/images/logo-laboratoria.svg" alt="Laboratoria">
      </div>
    </header>
    <nav class="bold">
      <h1 class="col-12">SANTIAGO DE CHILE 2017 - II <span class="dropdown" id="dropDown">&#9660;</span></h1>
      <ul class="col-12">
        <li class="menu-nav">OVERVIEW</li>
        <li class="menu-nav"><a href="../index.html">STUDENTS</a></li>
        <li class="menu-nav">TEACHERS</li>
      </ul>
      <div id="modal" class="modal col-6">
        <span id="close" class="close col-12 view-profile">&times;</span>
        <div class="col-10">
          <ul>
            <li class="col-10 line"><span class="checkbox"></span> LIMA</li>
            <li class="col-10 "><span class="checkbox"></span> 2015 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - II</li>
          </ul>
          <ul>
            <li class="col-10 line"><span class="checkbox"></span> AREQUIPA</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - II</li>
          </ul>
          <ul>
            <li class="col-10 line"><span class="checkbox"></span> SANTIAGO DE CHILE</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - II</li>
          </ul>
          <ul>
            <li class="col-10 line"><span class="checkbox"></span> CIUDAD DE MÉXICO</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2015 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2016 - II</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - I</li>
            <li class="col-10"><span class="checkbox"></span> 2017 - II</li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <section id="cardsfirst" class="row">
          <div class="col-3 graphic-card center">
            <h2>Enrollment</h2>
            <div class="col- skills center">
              <h4>95.5%</h4>
              <p>Life Skills</p>
            </div>
            <div class="col- skills center">
              <h4>95.5%</h4>
              <p>Life Skills</p>
            </div>
            <div class="col-12">
              <img class="" src="https://dummyimage.com/190x120/000/fff.jpg&text=gráfica" alt="">
            </div>
          </div>
          <div class="col-3 graphic-card">
            <h2>Enrollment</h2>
            <div class="col- skills center">
              <h4>95.5%</h4>
              <p>Life Skills</p>
            </div>
            <div class="col- skills center">
              <h4>95.5%</h4>
              <p>Life Skills</p>
            </div>
            <div class="col-12">
              <img class="" src="https://dummyimage.com/190x120/000/fff.jpg&text=gráfica" alt="">
            </div>
          </div>
          <div class="col-3 graphic-card">
            <h2>Enrollment</h2>
            <div class="col- skills center">
              <h4>95.5%</h4>
              <p>Life Skills</p>
            </div>
            <div class="col- skills center">
              <h4>95.5%</h4>
              <p>Life Skills</p>
            </div>
            <div class="col-12">
              <img class="" src="https://dummyimage.com/190x120/000/fff.jpg&text=gráfica" alt="">
            </div>
          </div>
      </section>
      <section id="techSkills" class="row">
        <div class="col-12">
          <h2>Enrollment <span class="dropdown" id="dropDownTech">&#9660;</span></h2>
          <div id="modalTech" class="modal col-6">
            <span id="closeTech" class="close col-12 view-profile">&times;</span>
            <div class="col-10">
              <ul>
                <li class="col-10 line"><span class="checkbox"></span> COMMON CORE</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 1: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 2: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 3: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 4: Create an interactive site</li>
              </ul>
              <ul>
                <li class="col-10 line"><span class="checkbox"></span> Javascript</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 5: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 6: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 7: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 8: Create an interactive site</li>
              </ul>
              <ul>
                <li class="col-10 line"><span class="checkbox"></span> UX Design</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 5: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 6: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 7: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 8: Create an interactive site</li>
              </ul>
            </div>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col-6">
            <img class="" src="https://dummyimage.com/350x200/000/fff.jpg&text=gráfica" alt="">
          </div>
          <div class="col-6">
            <img class=" pastel" src="https://dummyimage.com/180x180/000/fff.jpg&text=gráfica" alt="">
            <p>marca verde</p>
            <p>marca roja</p>
          </div>
        </div>
      </section>
      <section id="lifeSkills" class="row">
        <div class="col-12">
          <h2>Enrollment <span class="dropdown" id="dropDownTech">&#9660;</span></h2>
          <div id="modalTech" class="modal col-6">
            <span id="closeTech" class="close col-12 view-profile">&times;</span>
            <div class="col-10">
              <ul>
                <li class="col-10 line"><span class="checkbox"></span> HSE</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 1: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 2: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 3: Create an interactive site</li>
                <li class="col-10"><span class="checkbox"></span> Sprint 4: Create an interactive site</li>
              </ul>
            </div>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col-6">
            <img class="" src="https://dummyimage.com/350x200/000/fff.jpg&text=gráfica" alt="">
          </div>
          <div class="col-6">
            <img class=" pastel" src="https://dummyimage.com/180x180/000/fff.jpg&text=gráfica" alt="">
            <p>marca verde</p>
            <p>marca roja</p>
          </div>
        </div>
      </section>
      <section id="cardsSecond" class="row">
        <div class="col-3 graphic-card center">
          <h2>Enrollment</h2>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col-12">
            <img class="" src="https://dummyimage.com/190x120/000/fff.jpg&text=gráfica" alt="">
          </div>
        </div>
        <div class="col-3 graphic-card">
          <h2>Enrollment</h2>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col-12">
            <img class="" src="https://dummyimage.com/190x120/000/fff.jpg&text=gráfica" alt="">
          </div>
        </div>
        <div class="col-3 graphic-card">
          <h2>Enrollment</h2>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col- skills center">
            <h4>95.5%</h4>
            <p>Life Skills</p>
          </div>
          <div class="col-12">
            <img class="" src="https://dummyimage.com/190x120/000/fff.jpg&text=gráfica" alt="">
          </div>
        </div>
      </section>
    </main>
    <script src="../js/app.js"></script>
    </body>
</html>
